body {
  height: 100%;
  margin: 0; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  margin-top: 50px;
  margin-bottom: -10px;
}

.App-header{
  width: 50 px;
  height: 50 px;
  background-color: #282c34;
  justify-content: center;
  align-items: center;
  color: white;
}

.projectlist{
  padding: 10px;
  display: block;
}

/*Notes - For Portfolio Heading, I want no spacing on the left or right, but it should only 
come down the page 25% (Right now it's at 95% of the page.  Also, I would like Project Name One and Project Name 
Two to stack on top of each other*/